################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SWAD_iCar/.vs/SWAD_iCar/FileContentIndex
/SWAD_iCar/SWAD_iCar/obj/Debug/net6.0/SWAD_iCar.GeneratedMSBuildEditorConfig.editorconfig
