################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SWAD_iCar/.vs/SWAD_iCar/FileContentIndex
